@media only screen and (max-width: 750px) {
  .mobile-hide {
    display: none;
  }
  .pc-hide {
    display: initial;
  }
  #navbar {
    display: none;
  }
  #mobile-navbar {
    display: inline-block;
    width: 100%;
    position: fixed;
    background-color: white;
    height: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  #navbar1 {
    background-color: display: inline-block;
    width: 23%;
    float: left;
  }
  #hamburger {
    height: 35px;
    display: block;
    width: 35px;
    border: solid 1px black;
    border-radius: 3px;
    float: left;
    margin: 7px;
    padding-top: 7px;
    background-color: #272e68;
    position: fixed;
  }
  hr {
    margin: 10px 5px 4px 7px;
    width: 18px;
    height: 2px;
    margin-top: 2px;
    border: solid 1px white;
    background-color: white;
  }
  #sidebar {
    display: none;
    position: fixed;
    width: 75%;
    height: 200%;
    background-color: white;
    border-bottom-right-radius: 3px;
    box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.5);
  }
  .tabmob {
    float: right;
    font-size: 20px;
    width: 100%;
    padding: 22px 0px 20px 0px;
    text-align: center;
    letter-spacing: 2px;
    background-color: #272e68;
    color: white;
    margin-bottom: 1px;
    font-weight: normal;
  }
  .tabmob:hover {
    background-color: #d6ddff;
    color: #272e68;
    margin-bottom: 1px;
    transition-duration: .3s;
  }
  .cross {
    width: 100%;
    text-align: right;
    color: #272e68;
    float: right;
  }
  #cross-box {
    display: inline-block;
    font-size: 20px;
    font-family: arial;
    font-weight: 700;
    padding: 15px 20px 15px 20px;
    border-radius: 0px 0px 0px 5px;
    float: right;
  }
  #start {
    height: 200px;
    background-image: url("Images/bg.jpg");
    background-size: cover;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    border-bottom: solid 5px white;
  }
  h1 {
    padding-top: 65px;
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
  }
  h2 {
    color: white;
    padding-top: 5px;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 5px;
    text-align: center;
  }
  #social-handles {
    margin-top: 30px;
    text-align: center;
  }
  #social-handles img {
    height: 14px;
  }
  .handles {
    color: white;
    font-size: 13px;
    padding: 0px 0px 0px 3px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  .handles-seperator {
    font-size: 13px;
  }
  .bar {
    height: 60px;
    border-top: solid 5px white;
    border-bottom: solid 5px white;
    background-image: url("Images/bg2.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
    padding-top: 15px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  }
  .cards {
    width: 300px;
    height: 510px;
    margin: 20px 10px 10px 10px;
    border-radius: 5px;
    float: unset;
    display: inline-block;
    background-image: url("Images/bg3.jpg");
    background-size: cover;
    border: solid 3px white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    text-align: center;
    vertical-align: middle;
  }
  #cards-container {
    text-align: center;
  }
  .card-title {
    width: 100%;
    padding: 15px;
    display: inline-block;
    color: white;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px
  }
  .card-details {
  width: 100%;
  padding: 1px;
  display: inline-block;
  color: white;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 120%;
  text-align: center;
}

.card-inner-details {
  padding: 5px 0px 3px 0px;
  display: inline-block;
  margin-bottom: 0px;
  margin-bottom: 5px;
}

.card-inner-container {
  display: inline-block;
  width: 100%;
}

.schedule-status {
  letter-spacing: 2px;
  font-size: 15px;
}

.watch-button {
  text-align: center;
  background-color: #272e68;
  color: white;
  border: solid 1px white;
  display: inline-block;
  margin: 4px 0px 2px 0px;
  padding: 6px 10px 4px 10px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  width: 85%;
  letter-spacing: 1px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.watch-button:hover {
  background-color: white;
  color: #272e68;
  border: solid 1px #272e68;
}
  .cards:nth-child(4) {
    display: none;
  }
  .cards:nth-child(5) {
    display: none;
  }
  .series-title {
    font-size: 28px;
    padding-bottom: 2px;
  }
  .schedule-status {
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: normal;
  }

  #contact-form {
    text-align: left;
    float: unset;
    margin: 30px;
    width: 80%;
    padding-top: 28px;
    padding-right: 10%;
    padding-left: 10%;
    height: 370px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 5px;
    border: solid 1px #272e68;
  }
  h3 {
    font-size: 18px;
    padding-bottom: 5px;
    color: #272e68;
    font-weight: normal;
  }
  input {
    font-size: 16px;
    height: 26px;
    padding-top: 1px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    margin-bottom: 12px;
    border: solid 1px #272e68;
    border-radius: 3px;
    font-weight: normal;
  }
  input:focus {
    background-color: #d6ddff;
  }
  textarea {
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    margin-bottom: 12px;
    border: solid 1px #272e68;
    border-radius: 3px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: normal;
  }
  textarea:focus {
    background-color: #d6ddff;
  }
  button {
    width: 100%;
    height: 30px;
    font-size: 18px;
    color: white;
    background-color: #272e68;
    border-radius: 3px;
    padding-top: 2px;
    border: none;
  }
  button:hover {
    border: solid 1px #272e68;
    color: #272e68;
    background-color: #d6ddff;
  }
  h5 {
    display: inline-block;
  }
  sup {
    font-size: 14px;
    color: red;
  }
  #footer {
    text-align: center;
    height: 35px;
    padding-top: 12px;
    background-color: white;
    color: black;
    font-size: 12px;
    letter-spacing: .5px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, .2);
    border-top: solid 0px black;
  }
  .mhandle {
    padding: 6px;
    text-align: center;
  }
  .mhandle-img {
    height: 18px;
  }
  .mhandles {
    font-weight: 200;
    letter-spacing: 1px;
    color: skyblue;
    font-size: 18px;
  }
  #video {
    width: 300px;
    height: 175px;
    border: solid 3px white;
  }
  .media-header {
    width: 300px;
    font-size: 16px;
    border: solid 3px white;
  }
  #image-gallery {
    margin-top: 20px;
    width: 300px;
    float: unset;
  }
  #image-gallery iframe {
    width: 300px;
    height: 300px;
    margin-left: 0px;
    margin-right: 0;
    margin-bottom: 10px;
    border-radius: 5px;
    border: solid 3px white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  }
  .blogs {
    width: 300px;
    height: 330px;
    padding: 0px;
    margin: 20px 10px 10px 10px;
    border-radius: 7px;
    float: unset;
    display: inline-block;
    background-image: url("Images/bg3.jpg");
    background-size: cover;
    border: solid 3px white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    text-align: center;
    vertical-align: middle;
  }
  .blog-details{
  width: 100%;
  padding: 10px;
  display: inline-block;
  color: white;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 120%;
  text-align: center;
}

.blog-inner-container{
  width: 280px;
  display: inline-block;
  float: unset;
  text-align: center;
}

.blog-inner-details{
  padding-top: 5px;
  display: inline-block;
}
.blog-button {
  text-align: center;
  float: unset;
  background-color: #272e68;
  color: white;
  border: solid 1px white;
  display: inline-block;
  margin: 8px 0px 10px 0px;
  padding: 6px 10px 4px 10px;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  font-weight: 700;
  width: 90%;
  letter-spacing: 1px;
}

.blog-button:hover {
  background-color: white;
  color: #272e68;
  border: solid 1px #272e68;
}

.about-details {
  width: 300px;
  height: 340px;
  margin: 20px;
  border-radius: 3px;
  float: unset;
  display: inline-block;
  background-image: url("Images/bg3.jpg");
  background-size: cover;
  border: solid 3px white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 15px;
  font-weight: 400;
  padding: 20px;
  line-height: 1.1;
  letter-spacing: 1px;
  }
}