* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	outline: none;
	scroll-behavior: smooth;
}

*:hover {
	transition-duration: .3s;
}

a {
	text-decoration: none;
	cursor: pointer;
}

b {
	font-weight: 700;
}

.pc-hide {
	display: none;
}

button {
	cursor: pointer;
}

body {
	background-color: #f0f0f0;
}

#navbar {
	display: inline-block;
	width: 100%;
	position: fixed;
	background-color: white;
	height: 50px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

#navbar1 {
	display: inline-block;
	width: 25%;
	float: left;
}

#navbar2 {
	display: inline-block;
	width: 75%;
	float: right;
}

.tab {
	text-align: center;
	float: right;
	background-color: #272e68;
	color: white;
	display: inline-block;
	padding: 10px 10px 8px 10px;
	letter-spacing: 1px;
	border-radius: 3px;
	margin: 8px 20px 10px 0px;
	width: 80px;
	font-size: 16px;
}

.tab:hover {
	background-color: white;
	color: #272e68;
	border: solid 1px #272e68;
}

#start {
	height: 350px;
	background-image: url("Images/bg.jpg");
	background-size: cover;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
	border-bottom: solid 5px white;
}

h1 {
	padding-top: 90px;
	color: white;
	font-size: 75px;
	text-align: center;
	font-weight: 500;
}

h2 {
	color: white;
	padding-top: 5px;
	font-weight: 300;
	font-size: 32px;
	letter-spacing: 6px;
	text-align: center;
}

img {
	vertical-align: middle;
}

#social-handles {
	margin-top: 30px;
	text-align: center;
}

#social-handles img {
	height: 30px;
}

.handles {
	color: white;
	font-size: 20px;
	padding: 0px 5px 0px 5px;
	font-weight: 300;
}

.handles:hover {
	color: skyblue;
}

.bar {
	height: 90px;
	border-top: solid 5px white;
	border-bottom: solid 5px white;
	background-image: url("Images/bg2.jpg");
	background-size: cover;
	color: white;
	text-align: center;
	font-size: 50px;
	font-weight: 500;
	letter-spacing: 3px;
	padding-top: 20px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}

.cards {
	width: 400px;
	height: 630px;
	margin: 20px 10px 10px 10px;
	border-radius: 3px;
	float: unset;
	display: inline-block;
	background-image: url("Images/bg3.jpg");
	background-size: cover;
	border: solid 5px white;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
	text-align: center;
	vertical-align: middle;
}

#cards-container {
	text-align: center;
}

.card-title {
	width: 100%;
	padding: 15px;
	display: inline-block;
	color: white;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1px;
	background-color: rgba(0, 0, 0, 0.6);
	text-transform: uppercase;
	margin-top: 20px;
}

.card-details {
	width: 100%;
	padding: 15px;
	display: inline-block;
	color: white;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 120%;
	text-align: center;
}

.card-inner-details {
	padding: 5px 0px 3px 0px;
	display: inline-block;
	margin-bottom: 5px;
}

.card-inner-container {
	display: inline-block;
	width: 100%;
}

.schedule-status {
	letter-spacing: 2px;
	font-size: 15px;
}

.watch-button {
	text-align: center;
	background-color: #272e68;
	color: white;
	border: solid 1px white;
	display: inline-block;
	margin: 13px 0px 3px 0px;
	padding: 10px 10px 8px 10px;
	border-radius: 3px;
	font-size: 20px;
	text-align: center;
	font-weight: 700;
	width: 90%;
	letter-spacing: 1px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.watch-button:hover {
	background-color: white;
	color: #272e68;
	border: solid 1px #272e68;
}

#contact-form {
	text-align: left;
	float: unset;
	margin: 30px;
	width: 60%;
	padding-top: 28px;
	padding-right: 15%;
	padding-left: 15%;
	height: 455px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
	background-color: white;
	border-radius: 3px;
	border: solid 1px #272e68;
}

h3 {
	font-size: 22px;
	padding-bottom: 6px;
	color: #272e68;
	font-weight: normal;
}

input {
	font-size: 22px;
	height: 35px;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	margin-bottom: 15px;
	border: solid 1px #272e68;
	border-radius: 3px;
	font-weight: normal;
}

input:focus {
	background-color: #d6ddff;
}

textarea {
	font-size: 22px;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	margin-bottom: 15px;
	border: solid 1px #272e68;
	border-radius: 3px;
	padding-top: 7px;
	padding-bottom: 7px;
	font-weight: normal;
}

textarea:focus {
	background-color: #d6ddff;
}

button {
	width: 100%;
	height: 40px;
	font-size: 20px;
	color: white;
	background-color: #272e68;
	border-radius: 3px;
	padding-top: 2px;
	border: none;
}

button:hover {
	border: solid 1px #272e68;
	color: #272e68;
	background-color: #d6ddff;
}

h5 {
	display: inline-block;
}

sup {
	font-size: 17px;
	color: red;
}

#footer {
	text-align: center;
	height: 40px;
	padding-top: 13px;
	background-color: white;
	color: #272e68;
	font-size: 17px;
	letter-spacing: .5px;
	box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.3);
}

#video {
	text-align: center;
	border: none;
	overflow: hidden;
	border-radius: 3px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
	width: 700px;
	height: 390px;
	background-color: black;
	border: solid 5px white;
}

#video-container {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

.media-header {
	margin-top: 20px;
	float: unset;
	text-align: center;
	width: 700px;
	border-radius: 3px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
	background-image: url("Images/bg3.jpg");
	background-size: cover;
	border: solid 5px white;
	color: white;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 15px;
	padding-top: 18px;
}

#image-gallery {
	margin-top: 20px;
	width: 700px;
	float: unset;
}

#image-gallery iframe {
	width: 336px;
	height: 336px;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 15px;
	border-radius: 3px;
	border: solid 4px white;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.blog-details{
	width: 100%;
	padding: 15px;
	display: inline-block;
	color: white;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 120%;
	text-align: center;
}

.blog-inner-container{
	width: 500px;
	padding: 5px 0px 3px 0px;
	display: inline-block;
	float: unset;
	text-align: left;
}

.blog-inner-details{
	padding-top: 5px;
	display: inline-block;
}
.blogs {
	width: 700px;
	height: 220px;
	margin: 20px 10px 10px 10px;
	border-radius: 3px;
	background-image: url("Images/bg3.jpg");
	background-size: cover;
	border: solid 5px white;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
	text-align: center;
	vertical-align: middle;
}
.blog-button {
	text-align: center;
	float: right;
	background-color: #272e68;
	color: white;
	border: solid 1px white;
	display: inline-block;
	margin: 2px 0px 3px 0px;
	padding: 5px 10px 2px 10px;
	border-radius: 3px;
	font-size: 15px;
	text-align: center;
	font-weight: 700;
	width: 120px;
	letter-spacing: 1px;
}

.blog-button:hover {
	background-color: white;
	color: #272e68;
	border: solid 1px #272e68;
}

#about-logo {
	float: unset;
	padding: 50px;
	width: 300px;
	height: 300px;
	background-image: url("Images/bg3.jpg");
	background-size: cover;
	border: solid 5px white;
	margin: 20px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
}
.about-details {
	width: 60%;
	margin: 20px;
	float: unset;
	display: inline-block;
	background-size: cover;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
	text-align: center;
	background-color: white;
    border-radius: 5px;
    border: solid 1px #272e68;
	vertical-align: middle;
	color: #272e68;
	font-weight: 400;
	padding: 40px 50px 40px 50px;
	line-height: 1.2;
	font-size: 22px;
}

.about-details-container {
	text-align: justify;
	display: inline-block;
	width:100%;
	line-height: 1.2;
}