@media only screen and (max-width: 769px) {

h1{
	padding-top: 50px;
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 5px;
}

h4{
	text-align: center;
	color: white;
	font-weight: 100;
	line-height: 1.5;
	font-size: 13px;
	margin-bottom: 15px;
}

#team-start{
	text-align: center;
	height: 200px;
	background-image: url("Images/bg.jpg");
	background-size: cover;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
	border-bottom: solid 5px white;
}

.white-button{
	width: 160px;
	font-size: 16px;
	height: 30px;
	color: white;
	font-weight: 500;
	background-color: #272e68;
	border: solid 1px white;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

.container{
	width: 80%;
	margin: 20px 20px 0px 20px;
	overflow-x: hidden;
	overflow-y: scroll;
	float: unset;
	display: inline-block;
	height: 500px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
	text-align: center;
	background-color: white;
	border-radius: 5px;
	border: solid 1px #272e68;
	color: #272e68;
	padding: 10px 20px 0px 20px;
}

.table-line{
	display: none;
	border: solid 1px #272e68;
	margin-bottom: 25px;
}

.row-line{
	display: block;
	width: 200%;
	border: solid 5px rgba(0,0,0,0.15);
	margin-left: -100px;
	margin-bottom: -1px;
}

.table-head{
	display: none;
	float: left;
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 10px;
}

.table{
	font-size: 18px;
	float: left;
	margin-bottom: 15px;
	margin-top: 10px;
}

.date{
	width: 100%;
	margin-bottom: 0px;
}

.topic{
	width: 100%;
	font-weight: 500;
	margin-top: 2px;
	margin-bottom: 0px;
}

.org{
	width: 100%;
	margin-top: 2px;
	margin-bottom: 0px;
}

.platform{
	display: none;
}

.lyrics{
	padding-top: 9px;
	text-align: center;
	text-decoration: none;
	width: 100%;
	border-radius: 3px;
	font-size: 16px;
	height: 32px;
	color: white;
	font-weight: 500;
	background-color: #272e68;
	margin-bottom: 0px;
}

.media{
	padding-top: 9px;
	text-align: center;
	text-decoration: none;
	width: 100%;
	border-radius: 3px;
	font-size: 16px;
	height: 32px;
	color: white;
	font-weight: 500;
	background-color: #272e68;
}
.no-show{
	background-color: lightgrey;
}

.team-container{
	width: 80%;
}

.team-card{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 15px;
	height: unset;
}

.team-card img{
	height: 100px;
	float: unset;
	margin-right: 0px;
	margin-bottom: 5px; 
	border: solid 1px #272e68;
}

.team-card div{
	float: unset;
	text-align: center;
}

.team-card span:nth-child(1){
	font-weight: bold;
	display: inline-block;
	color: #272e68;
	font-size: 20px;
	letter-spacing: 1px;
	padding-bottom : 0px;
}

.team-card span:nth-child(3){
	font-size: 16px;
	padding-bottom: 0px;
}


.team-card span:nth-child(5){
	color: black;
	display: inline-block;
	font-size: 14px;
	padding-bottom : 10px;
}

}